name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            dotnet-platform: linux-x64
          - os: windows-latest
            dotnet-platform: win-x64
          - os: macos-latest
            dotnet-platform: osx-x64

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - name: Install dependencies
        run: dotnet restore
      - name: Build solution
        run: dotnet build --no-restore
      - name: Test solution
        run: dotnet test --no-restore --collect:"XPlat Code Coverage"
      - name: Check code formatting
        run: dotnet format --no-restore --verify-no-changes
      - name: Check code style
        run: dotnet format --no-restore --verify-no-changes style
      - name: Upload coverage report
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: tests/GuitarProToMidi_UnitTests/TestResults/*/coverage.cobertura.xml
